<section ng-controller="UsersController">

  <form id="search">
    <input class="fa fa-search" id='search-field' type="text" name="search" ng-model="q" placeholder=" Search Twitter                    &#xf002;">

  </form>

  <div class="container">
    <section class="three columns" id="trend-area">
      <div class="trend">
      </div>
    </section>


      <div class="form-area">
        <img src="http://votecloud.jp/img/User/4043/icon.png" id="tweet-pic">
        <form ng-submit="createTweet()" class="tweetform" id="tweetinput">
          <input type="hidden" ng-model="newUser.name" name="name">
          <input type="hidden" ng-model="newUser.image" name="image">
          <input type="hidden" ng-model="newUser.username" name="username">
          <input type="hidden" ng-model="newUser.moment" name="moment">
          <textarea type="text" ng-model="newUser.tweet" name="tweet"placeholder="What's happening?" class="tweet" rows="1" cols="60"></textarea>

          <input type="submit" id="submit" value="Tweet">
        </form>
      </div>

      <div ng-repeat="user in users | filter:q |orderBy: '-created_at'" class="newsfeed">
        <div class="tweet-area">
          <img ng-src={{user.image}} id="pic">
          <h3 id="name"> {{user.name}} </h3>
          <h6 id="username"> {{user.username}} </h6>
          <!-- <h6 id="time"> {{user.created_at | myDateFormat}} </h6> -->
          <p id="tweet"> {{user.tweet}} </p>
        </div>
      </div>

      <div class="poster-area">
        <img src="http://drbexl.co.uk/wp-content/uploads/2011/07/keep-calm-tweet-on.jpg" id="poster">
      </div>

  </div>

</section>
