/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0;
  padding: 0;
  background-color: #95C8FF;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main navigation */
nav {
  background-color: white;
  padding: 0;
  height: 50px;
}

nav ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  left: 10%;
  height: 50px;
}

nav ul li {
  display:inline;
  font-size: 20px;
  color:black;
}

img.home{
  height: 45px;
}

img.home:hover{
  border-bottom: 5px solid #2767B7;
}

.title{
  position: relative;
  width: 20%;
  font-size: 30px;
  padding:0 20px;
  text-align: center;
  left: 30%;
  top: -10px;
}

img.logo{
  position: relative;
  height: 30px;
  width: auto;
  top: 5px;
  margin: 0 auto;
  text-align: center;
}
