// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#search{
  position: absolute;
  top: 9px;
  right: 15%;
}

input#search-field{
  position: relative;
  border-radius: 20px;
  height: 32px;
  width: 180px;
  top: -2px;
  background-color: rgb(245, 248, 249);
  font-size: 12px;
  border: 1px solid #D8DEE7;
  padding-left: 12px;
  color: #4C4D4F;
  outline: none;
}

#trend-area{
  position: absolute;
  height: 600px;
  width: 15%;
  left: 10%;
}

.trend{
  position: relative;
  top: 10px;
  height: 80%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 12px;
  background-color: white;
}

// <img id="pic" ng-src={{user.image}}>
//         <h3 id="name"> {{user.name}} </h3>
//         <h6 id="username"> {{user.username}} </h6>
//         <p id="tweet"> {{user.tweet}} </p>

.form-area{
  position: relative;
  width: 40%;
  top: 10px;
  height: auto;
  background-color: rgb(231, 241, 246);
  left: 27%;
  padding: 10px 10px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid rgb(197, 223, 235);
}

img#tweet-pic{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 13px;
  margin-left: 30px;
  border-radius: 3px;
}

.tweetform{
  position: relative;
  width: 100%;
  margin: 0;
}

.tweet-area{
  position: relative;
  height: 80px;
  width: 100%;
  background-color: white;
  padding: 10px 10px;
  border: 1px solid lightgrey;
  margin-top: 0;
}

// input.input-tweet{
// position: absolute;
// left: 70px;
// width: 85%;
// font-size: 12px;
// }

textarea.tweet{
  padding-top: 11px;
  margin: 0;
  resize: none;
  position: relative;
  width: 70%;
  left: 70px;
  border: 1px solid rgb(197, 223, 235);
  font-size: 12px;
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.newsfeed{
  position: relative;
  width: 40%;
  top: 0px;
  left: 27%;
}

input#submit{
  display: none;
  position: relative;
  width: 100px;
  height: 40px;
  margin-left: 68%;
  background-color: rgb(77, 154, 192);
  color: white;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
}

#pic{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#name{
  position: relative;
  display: inline-block;
  font-size: 14px;
  top: 0px;
  left: 60px;
  font-family: 'Josefin Sans', sans-serif;
}

#username{
  position: relative;
  display: inline-block;
  font-size: 14px;
  top: 0px;
  margin-left: 60px;
  color: #AEB3BB;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

h3{
  margin: 0;
}

h6{
  margin: 0;
}

#tweet{
  position: relative;
  left: 60px;
  top: 0px;
  margin: 0;
}

#time{
  position: relative;
  display: inline-block;
  left: 5px;
  top: -2px;
  color: #AEB3BB;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

#poster-area{
  position: relative;
  display: inline-block;
  height: 600px;
  width: 200px;
}

img#poster{
  position: absolute;
  top: 60px;
  height: auto;
  width: 15%;
  left: 71%;
  border-radius: 12px;
}
